#root, .preview {
	display: flex;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
}

.editor {
	min-width: 340px;
	width: 40%;
	padding: 2rem;
	overflow: auto;
	flex-grow: 1;
}

.preview {
	display: flex;
	align-items: flex-start;
	justify-content: center;	
	flex-grow: 1;
	background-color: #ccc;
	max-height: 100vh;
	padding: 2rem;
	overflow: auto;
}

@media (max-width: 1260px) {
	.preview {
		justify-content: flex-start;
	}
}

.a4Page {
	width: 21cm;
	height: 29.7cm;
	min-width: 21cm;
	background-color: white;
}

.inputs {
	border: 2px solid blue;
	border-radius: 1.5rem;
	padding: 2rem;
	margin: 2rem;
}

.inputs div {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

